
body{
    font-family: Arial, Helvetica, sans-serif;               
    color: rgb(153, 152, 152);
    background-color: rgb(100, 99, 99);
    margin; 0px;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

.container-inner{
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.container-para{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    border-top: 1px solid rgb(124, 124, 124);
    border-bottom: 1px solid rgb(124, 124, 124);
    margin: 50px 0px;
}

.reset-choice{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 50px;
}

.reset-btn,
.autoPlay-btn{
    display: block;
    margin: auto;
    padding: 10px 150px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgb(88, 85, 85);
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;
}

.autoPlay-btn,
.reset-btn{
    margin-bottom: 20px;
}


.game-btn{
    background-color: transparent;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 50%;
    cursor: pointer;
}

.game-btn:hover,
.result:hover{
    background-color: rgb(94, 91, 91);
    transition: 0.4s;
    border: 2px solid black;
}

.game-img{
    height: 100px;
    padding: 10px;
}

.game-img1{
    height: 85px;
    padding: 15px;
}

.title{
    font-size: 45px;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}


.statistic{
    font-size: 30px;
    text-wrap: nowrap;
    font-weight: bold;
}

.result{
    font-size: 25px;
    border: 2px solid rgb(124, 124, 124);
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bolder;
}

.res-wins,
.res-lose,
.res-draw{
    font-size: 30px;
    font-weight: bold;
    text-wrap: nowrap;
    color: rgb(192, 192, 192);
    margin-left: 20px;
    margin-bottom: 15px;
    text-decoration: underline;
}

.reset-btn-choice{
    padding: 10px 5px;
    background-color: transparent;
    border: 2px solid rgb(153, 151, 151);
    border-radius: 8px;
    color: rgb(221, 220, 220);
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.reset-btn-choice:hover,
.reset-btn:hover,
.autoPlay-btn:hover{
    border: 2px solid black;
    transition: 0.4s;
}

@media screen and (max-width: 430px){
    .title{
        font-size: 20px;
    }
    body{
        margin-left: 50px;
    }
    .game-img{
        height: 30px;
        padding: 2px;
    }
    .game-img1{
        height: 30px;
        padding: 4px;
    }
    .statistic{
        font-size: 14px;
    }
    .result{
        font-size: 16px;
        padding: 5px;
    }
    .res-wins,
    .res-lose,
    .res-draw{
        font-size: 11px;
        margin-bottom: 2px;
    }
    .reset-btn-choice{
        font-size: 10px;
        padding: 2px 0px;
        margin-left: 18px;
        text-wrap: nowrap;
    }
    .reset-choice{
        display: grid;
        grid-template-columns: 90px 90px 90px;
    }
    .reset-btn,
    .autoPlay-btn{
        text-wrap: nowrap;
    }
}

@media screen and (max-width: 720px){
    .title{
        font-size: 30px;
    }
    .game-img{
        height: 50px;
        padding: 5px;
    }
    .game-img1{
        height: 42px;
        padding: 7px;
    }
    .statistic{
        font-size: 14px;
    }
    .result{
        font-size: 16px;
        padding: 5px;
    }
    .res-wins,
    .res-lose,
    .res-draw{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .reset-btn-choice{
        font-size: 12px;
        padding: 5px 2px;
        margin-left: 18px;
        text-wrap: nowrap;
    }
    .reset-choice{
        display: grid;
        grid-template-columns: 125px 125px 125px;
    }
    .reset-btn{
        margin-top: 50px;
    }
    
}